<!-- подключение статик файлов -->
{% load static %}
<!-- Использованы классы бустрапа для создания типовой навигации с логотипом -->
<!-- В дальнейшем тут будет создано полноценное меню -->
<div class="container">
  <nav class="header_top">
      <a class="header_logo" href="{% url 'service_url:service_index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:rgb(245, 147, 147)">М</span>ФЦ</a>
      </a>

 <div class="">
        <ul class="navbar_nav">
          {% comment %} {% with request.resolver_match.view_name as view_name %} {% endcomment %}

          {% if user.is_authenticated %}

          <li class="nav_header">
            <a class="header_link {% if view_name  == 'users:password_change_form' %}active{% endif %}" href="{% url 'users:password_change_form' %}">Изменить пароль</a>
          </li>
          <li class="nav_header">
            <a class="header_link {% if view_name  == 'users:logout' %}active{% endif %}" href="{% url 'users:logout' %}">Выйти</a>
          </li>
          <li class="header_user">
            Пользователь: {{ user.username }}
          </li>
            {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:signup' %}">Регистрация</a>
          </li>

          
          {% endif %}
          {% comment %} {% endwith %} {% endcomment %}
        </ul>
      </div> 
  </nav>
</div>